{% extends 'base.html' %}

{% block title %}Grades{% endblock %}

{% block navlinks %}
<div class="navbar-nav nav-tabs">
    <a class="nav-link mx-3" aria-current="page" href="/">Home</a>
    <a class="nav-link" aria-current="page" href="students">Students</a>
    <a class="nav-link" href="majors">Majors</a>
    <a class="nav-link" href="advisors">Advisors</a>
    <a class="nav-link" href="instructors">Instructors</a>
    <a class="nav-link" href="courses">Courses</a>
    <a class="nav-link" href="courses_instructors">Courses_Instructors</a>
    <a class="nav-link" href="registrations">Registrations</a>
    <a class="nav-link" href="semesters">Semesters</a>
    <a class="nav-link active" href="grades">Grades</a>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid text-center">
    <h1 class="display-5">Grades</h1>
    <p class="text-muted">View, add, or search for student grades</p>
</div>

<!-- Add New Grade Button -->
<div class="container-fluid text-center">
    <button class="btn btn-primary" onclick="window.location.href='#addGrade';">Add New Grade</button>
</div>
<br />

<hr>

<div class="container-fluid">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Filter for a Student's Grade</legend>

            <!-- Select Basic -->
            <div class="form-group pt-2">
                <label class="col-md-4 control-label" for="studentsearch">Student Name</label>
                <div class="col-md-4">
                    <select id="studentsearch" name="studentsearch" class="form-control form-select" required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        <option value="1">Korra Smith</option>
                        <option value="2">Aang Cook</option>
                        <option value="3">Roku Hunter</option>
                    </select>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="search">Find Grades</label>
                <div class="col-md-4">
                    <button id="search" name="search" class="btn btn-info">Search</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<p id="addGrade"> </p>
<br />
<hr>
<br />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            {% for key in grades[0].keys() %}

            <th scope="col"> {{ key }} </th>

            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
        <tr>
            {% for key in grade.keys() %}

            <td>{{grade[key]}}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<div class="container-fluid">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Add Grade</legend>

            <!-- Select Basic -->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="studentid">Student Name</label>
                <div class="col-md-4">
                    <select id="studentid" name="studentid" class="form-control form-select" required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        <option value="1">Korra Smith</option>
                        <option value="2">Aang Cook</option>
                        <option value="3">Roku Hunter</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group py-2">
                <label class="col-md-4 control-label" for="courseid">Course Name</label>
                <div class="col-md-4">
                    <select id="courseid" name="courseid" class="form-control form-select" required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        <option value="3101">Introduction to Bending</option>
                        <option value="4205">Bending Fundamentals</option>
                        <option value="5401">Manipulation Water - Water Tech</option>
                    </select>
                </div>
            </div>

            <!-- Multiple Radios (inline) -->
            <div class="form-group pt-2">
                <label class="col-md-4 control-label" for="passed_course">Grade</label>
                <div class="col-md-4">
                    <label class="radio-inline mx-1" for="passed_course-0">
                        <input type="radio" name="passed_course" id="passed_course-0" value="1" checked="checked">
                        Pass
                    </label>
                    <label class="radio-inline mx-1" for="passed_course-1">
                        <input type="radio" name="passed_course" id="passed_course-1" value="0">
                        Fail
                    </label>
                </div>
            </div>


            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">Add Grade</button>
                </div>
            </div>

        </fieldset>
    </form>

    <hr>


</div>

{% endblock %}